body {
  margin: 0;
  padding: 0;
  font-family: 'Chiron Sung HK', sans-serif;
  background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)),
              url('img/Insta1/rfp-logo2.png')no-repeat center center fixed;
  background-size: cover;
}

